<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint System</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
    <nav>
        <img src="/logo.jpg" alt="logo" height="80px" width="80px">
        <h1>Complaint System</h1>
        <div class="nav">
            <a href="/adminlogin" class="btn">Back</a>
            <a href="/index" class="btn">Logout</a>    
    
        </div>
    </nav>
    <div class="complaint">
        <div class="heading">
            <h2>Existing Complaints</h2>
        </div>
        <div class="table">
            <table class="user_complaints">
                <tr>
                    <th>Complaint Id</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Complaint</th>
                    <th>Status</th>
                </tr>

                {{#if rows}}
                    {{#each rows}}
                        <tr>
                            <td>{{this.complaint_id}}</td>
                            <td>{{this.user_email}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.complaint}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                    {{/each}}
                {{/if}}




                {{!-- <tr>
                    <td>2111</td>
                    <td>1</td>
                    <td>Motilal Street</td>
                    <td>Sewage System broken</td>
                    <td>
                        <select class="options">
                            <option value="">Select</option>
                            <option value="approved">Approved</option>
                            <option value="pending">Pending</option>
                            <option value="completed">Completed</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>2111</td>
                    <td>2</td>
                    <td>Civil Lines</td>
                    <td>Transformer not working</td>
                    <td>
                        <select class="options">
                            <option value="">Select</option>
                            <option value="approved">Approved</option>
                            <option value="pending">Pending</option>
                            <option value="completed">Completed</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>2113</td>
                    <td>3</td>
                    <td>33/12,Napier Town</td>
                    <td>Too many potholes on the main street</td>
                    <td>
                        <select class="options">
                            <option value="">Select</option>
                            <option value="approved">Approved</option>
                            <option value="pending">Pending</option>
                            <option value="completed">Completed</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>2114</td>
                    <td>4</td>
                    <td>334/37,Railway Colony</td>
                    <td>Garbage Collection not taking place</td>
                    <td>
                        <select class="options">
                            <option value="">Select</option>
                            <option value="approved">Approved</option>
                            <option value="pending">Pending</option>
                            <option value="completed">Completed</option>
                        </select>
                        
    
                    </td>
                </tr> --}}
                
            </table>
        </div>
        <div class="update">
            <a href="/update" class="btn">Update</a>
        </div>
        
        
        
    </div>

</html>